<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dataPath" value="C:\\Users\\Dash\\Desktop\\.NET_ML\\ML_Dispecink\\ML_Dispecink\\UrgentnostML\\Input\\extracted_csv"/>
		<add key="modelPathSave" value="C:\\Users\\Dash\\Desktop\\.NET_ML\\ML_Dispecink\\ML_Dispecink\\UrgentnostML\\UrgentnostMLModel.zip"/>
		<add key="modelPathLoad" value="C:\\Users\\Dash\\Desktop\\.NET_ML\\ML_Dispecink\\ML_Dispecink\\UrgentnostML\\UrgentnostMLModel.zip"/>
		<add key="predictPath" value="C:\\Users\\Dash\\Desktop\\.NET_ML\\ML_Dispecink\\ML_Dispecink\\UrgentnostML\\Output\\out.txt"/>
		<add key="logPath" value="C:\\Users\\Dash\\Desktop\\.NET_ML\\ML_Dispecink\\ML_Dispecink\\UrgentnostML\\log.txt"/>
	</appSettings>
</configuration>