<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dataPath" value="d:\\Vyvoj\\Vyvoj-NET\\DispecinkML\\UrgentnostML\\Input\\extracted_csv"/>
		<add key="modelPathSave" value="d:\\Vyvoj\\Vyvoj-NET\\DispecinkML\\UrgentnostML\\UrgentnostMLModel.zip"/>
		<add key="modelPathLoad" value="d:\\Vyvoj\\Vyvoj-NET\\DispecinkML\\UrgentnostML\\UrgentnostMLModel.zip"/>
		<add key="predictPath" value="d:\\Vyvoj\\Vyvoj-NET\\DispecinkML\\UrgentnostML\\Output\\out.json"/>
		<add key="predictFileType" value=".json"/>
		<add key="logPath" value=""/>
		<add key="errorLogPath" value =""/>
	</appSettings>
</configuration>