<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dataPath" value="C:\\Users\\Dash\\Desktop\\.NET ML\\ML_Dispecink\\ML_Dispecink\\UrgentnostML\\Input\\extracted_csv"/>
		<add key="modelPath" value="C:\\Users\\Dash\\Desktop\\.NET ML\\ML_Dispecink\\ML_Dispecink\\UrgentnostML\\UrgentnostMLModel.zip"/>
	</appSettings>
</configuration>